body{
    background-image: url("bagelWallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin-left: clamp(10%,15%,20%);
    margin-right: clamp(10%,15%,20%);
    
}

hr{
    background-color: black;
    height: 1px;
    
}

h1{
    font-size: 3vmin;
}

p{
    font-size: 2vmin;
    font-weight: bolder;
}

label{
    font-size: 2vmin;
    font-weight: bolder;
}

.slender{
    font-weight: 100;
}

.textBox{
    border: .4vmin solid;
    height: auto;
    width: 30%;
    margin-right:5%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

.homeStick{
    position: fixed;
    top: 1%;
    left: 1%;
    font-size: 2.5vmin;
    font-weight: bolder;
    width: 5vmin;
    height: 5vmin;
}

.spinningBagel{
    width:auto;
    height:100%;
    animation: spinningBagel 1s linear none infinite normal both;
    -webkit-user-drag: none;
}

@media (prefers-reduced-motion: reduce) {
    .spinningBagel:hover{
        animation: none;
    }
}

@media (prefers-reduced-motion: no-preference) {
    .spinningBagel:hover{
        animation-name: spinningBagel;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-direction: normal;
        animation-timing-function: linear;
    }
}


img:not(.imageLink){
    margin-left: 5%;
    height: auto;
    width: 40vmin;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.center{
    text-align: center;
}

.innerwrapper{
    width:100%;
    height:100%;
    background-color:antiquewhite;
}

a:not(.homeStick){
    font-size: 2.5vmin;
}

a:hover:not(.homeStick){
    color: darkorange;
}

a:link:not(.homeStick){
    color: brown;
}

a:visited:not(.homeStick){
    color: darkorange;
}

ul{
    text-align: center;
    list-style-position: inside;
}
li{
    text-align:center;
    font-size: 2vmin;
    font-weight: bolder;
}
.thick{
    background-color: black;
    height: 3px;
}

.imagelink{
    width: 10vmin;
}
h2{
    font-size: 2.5vmin;
}

button{
    font-size: 2vmin;
    font-weight: bolder;
}
input{
    font-size: 2vmin;
    font-weight: bolder;
}

@keyframes spinningBagel{
    from{
        transform: rotate(0deg);
    }

    to{
        transform: rotate(360deg)
    }
}

.paraLink{
    text-align:center;
    font-size: 2vmin;
    font-weight: bolder;
}
