body{
    background-color: antiquewhite;
    font-family: 'Roboto', Helvetica, sans-serif;
}

hr{
    height: 1px;
    background-color: black;
}

.storeText{
    text-align:center;
    font-size: 1.5vmin;
    margin-top: 0%;
    margin-bottom: 0%;
    padding-top: 0%;
    padding-bottom: 0%;
}

.storeItemName:not(.imageAndName){
    font-size: 2vmin;
}

.imageAndName{
    display: flex;
    align-items: center;
}

.saveReset{
    position:absolute;
    bottom:1%;
    left:1%;
    display: flex;
    align-items: center;
    width:12%;
    height:6%;
}

.title{
    text-align:center;
    font-size: 2.5vmin;
}

.statsStuff{
    font-size: 2vmin;
}

.text{
    text-align: center;
    font-size: 1.5vmin;
}

.theBagel{
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
    width: 20vmin;
    cursor: pointer;
    -webkit-user-drag: none;
}

.theBagel:hover{
    filter:brightness(110%)
}

.theBagel:active{
    filter:drop-shadow(150%)
}

.randomBagel{
    position: absolute;
    width: 0;
    -webkit-user-drag: none;
    cursor: pointer;
}

.bagelCount{
    position:absolute;
    top: 22%;
    bottom: 0;
    left: 0;
    right: 0; 
    text-align: center;
    font-size: 4vmin;
}

.store{
    justify-content: start;
    position: absolute;
    top: 1%;
    right: 7%;
    height: auto;
    width: fit-content;
    border: .5vmin solid;
    background-color:aliceblue;
}

.stats{
    justify-content: start;
    position: absolute;
    top: 1%;
    left: 7%;
    height: auto;
    width: auto;
    border: .5vmin solid;
    background-color:aliceblue;
}

.noSelect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
          -ms-user-select: none; 
              user-select: none; 
  }

.storeItem{
    width: 5vmin;
    position:relative;
    padding-right: 2%;
    padding-left: 2%;
    -webkit-user-drag: none;
}

.storeItemBox{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: normal;
    justify-content: center;
    cursor: pointer;
    background-color:aliceblue;
}

.storeItemBox:hover{
    background-color: rgb(214, 236, 255);
}

.largeText{
    font-size: 3vmin;
    font-weight: bold;
    position:absolute;
    padding-top: 20%;
}

.link{
    position: fixed;
    top: 1%;
    left: 1%;
    font-size: 2.5vmin;
}

.link:hover{
    color: darkorange;
}

.link:link{
    color: brown;
}

.link:visited{
    color: darkorange;
}



.critClick{
    text-align: center;
    position:absolute;
    top:30%;
    left:0;
    right:0;
    bottom:0;
    font-size: 3vmin;
    transition-duration: 1s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

@keyframes fadeOut{
    0%{opacity: 1;}
    100%{opacity: 0;}
}
