body{
    background-image: url("static/bagelWallpaper.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    font-family: 'Roboto', Helvetica, sans-serif;
    margin-left: clamp(10%,15%,20%);
    margin-right: clamp(10%,15%,20%);
    
}

hr{
    background-color: black;
    height: 1px;
    
}

h1{
    font-size: 3vmin;
}

p{
    font-size: 2vmin;
    font-weight: bolder;
}

#slender{
    font-weight: 100;
}

#textBox{
    border: 5px solid;
    height: auto;
    width: 30%;
    margin-right:5%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
}

img:not(#imageLink){
    margin-left: 5%;
    height: auto;
    width: 40vmin;
}

#container{
    display: flex;
    align-items: center;
    justify-content: center;
}

#center{
    text-align: center;
}

#innerwrapper{
    width:100%;
    height:100%;
    background-color:antiquewhite;
}

a{
    font-size: 2.5vmin;
}

a:hover{
    color: darkorange;
}

a:link{
    color: brown;
}

a:visited{
    color: darkorange;
}

ul{
    text-align: center;
    list-style-position: inside;
}
li{
    text-align:center;
    font-size: 2vmin;
    font-weight: bolder;
}
#thick{
    background-color: black;
    height: 3px;
}

#imagelink{
    width: 10vmin;
}
h2{
    font-size: 2.5vmin;
}
